.icon {
  display: block;

  height: 24px;
  width: 24px;
}

.icon--menu {
  background-image: url(/src/images/icons/icon-menu.png);
}

.icon--close {
  background-image: url(/src/images/icons/icon-close.png);
}

.icon--cookie {
  background-image: url(/src/images/icons/icon-cookie.png);
}

.icon--phone {
  background-image: url(/src/images/icons/icon-phone.png);
}
