/* #region imports */
@import 'utils';
@import 'fonts';
@import 'typography';

/* #endregion */

/* #region page */
p,
h1,
h2 {
  margin: 0;
}

h2 {
  font-weight: 400;
}

.page {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1c1a26;
}

.page__body {
  background-color: #eef7ff;

  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  min-height: 670px;
  padding: 16px 16px 40px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.header__bottom {
  padding-top: 32px;

  background-image: url(/src/images/header-bg-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top 220px;
}

.header__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;

  padding-bottom: 32px;
}

.header__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 54.4px;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 290px;
}

/* #endregion */

/* #region menu */
.menu {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 16px;
  background-color: #eef7ff;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion */

/* #region icon */
.icon {
  display: block;

  height: 24px;
  width: 24px;
}

.icon--menu {
  background-image: url(/src/images/icons/icon-menu.png);
}

.icon--close {
  background-image: url(/src/images/icons/icon-close.png);
}

.icon--cookie {
  background-image: url(/src/images/icons/icon-cookie.png);
}

/* #endregion */

/* #region button */
.button {
  width: 288px;
  height: 56px;
  border-radius: 32px;
  border: 2px solid #f9512e;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin: auto;
}

.button__label {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f9512e;
}

/* #endregion */
